<ion-header>
  <ion-navbar>
    <ion-title>{{ assignment.project.name }} ( {{ assignment.confirms.length }} / {{ assignment.number_needed }} )- [ {{ selected_date }} ] 管理上工狀態</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="ProjectDetailPage">
  <ion-grid *ngFor="let employee of assignment.employee_details.objects">
    <ion-row>
      <ion-col width-100>
        <button full large clear dark>{{ employee.contact.name }}</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-10 *ngFor="let hours of selectable_hours">
        <button full [class.button-secondary]="hours == employee.hours" (click)="confirm(employee)" secondary>{{ hours }}</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-10 *ngFor="let hours of selectable_hours">
        <button full [class.button-secondary]="true" (click)="confirm(employee)">{{ hours }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-buttons>
    <button ion-button (click)="close()" danger><ion-icon name="ios-build-outline"></ion-icon>結束案子</button>
  </ion-buttons>
</ion-content>
