<ion-header>
  <ion-navbar>
    <ion-title>{{ assignment.project.name }} ( {{ employee_assignments.objects.length }} / {{ assignment.number_needed }} )- [ {{ selected_date }} ] 管理上工狀態</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="ProjectDetailPage">
  <ion-grid *ngFor="let employee_assignment of employee_assignments.objects">
    <ion-row>
      <ion-col width-100>
        <button ion-button full large clear dark>{{ employee_assignment.employee.contact.name }}</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-10>
        <p>工時 {{ employee_assignment.hours }}</p>
      </ion-col>
      <ion-col width-10 *ngFor="let hours of selectable_hours">
        <button ion-button full [class.button-md-secondary]="hours == employee_assignment.hours" (click)="set_hour(employee_assignment, hours)">{{ hours }}</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-10>
        <p>超時 {{ employee_assignment.overtime }}</p>
      </ion-col>
      <ion-col width-10 *ngFor="let hours of selectable_hours">
        <button ion-button full [class.button-md-secondary]="hours == employee_assignment.overtime" (click)="set_overtime(employee_assignment, hours)">{{ hours }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-buttons>
    <button ion-button (click)="close()" danger><ion-icon name="ios-build-outline"></ion-icon>結束案子</button>
  </ion-buttons>
</ion-content>
